<!------ Aside menu ------>
<nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzCollapsedWidth]="64" [nzBreakpoint]="'lg'">
  <div class="logo">
    <img *ngIf="!isCollapsed" src="http://mclon-oms.oss-cn-hangzhou.aliyuncs.com/image/mankalong-logo.png">
    <span *ngIf="isCollapsed" class="am-ft-white am-ft-12">MCLON</span>
  </div>
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'" [class.ant-menu-collapsed]="!isCollapsed">
    <li nz-submenu>
      <span title><i class="anticon anticon-user"></i><span class="nav-text">数据统计</span></span>
      <ul>
        <li nz-menu-item>我的用户</li>
        <li nz-menu-item>交易流水</li>
      </ul>
    </li>
    <li nz-submenu>
      <span title><i class="anticon anticon-team"></i><span class="nav-text">资金账户</span></span>
      <ul>
        <li nz-menu-item>商户信息</li>
        <li nz-menu-item>提现流水</li>
      </ul>
    </li>
  </ul>
</nz-sider>
<!------ /Aside menu ------>
